.venv
__pycache__
video.avi
OutputDebugData
bodypart_csvs
gestures.json
good2keep
output_json_folder
output_jsons
output_jsons_highres
person_0_plot.html
test.json
testington.csv
video.mp4
hipelan
INPUT_VIDEOs
OUTPUT_INPUT_VIDEOS
debug
.env